<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Выйти"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    </form>
</div>
<div align="center">
    <form method="post" action="add">
        <input type="text" name="text" placeholder="Введите имя:">
        <input type="text" name="tag" placeholder="Введите тэг:">
        <button type="submit" >Добавить</button>
    </form>

    <h2>List message</h2>
    <p>
        <div>
            <form method="post" action="filter">
                <input type="text" name="filter" placeholder="Найти:">
                <input type="submit" value="Поиск">
            </form>
        </div>
        <div>
            <form method="post" action="filterId">
                <input type="text" name="filterId" placeholder="Удалить №:">
                <input type="submit" value="Удаление по ID">
            </form>
        </div>
    <table border="2px" width="400px" cellpadding="0" cellspacing="0">
        <tbody>
        {{#messages}}
                <tr>
                    <td><b>{{id}}</b></td>
                    <td><span>{{text}}</span></td>
                    <td><i>{{tag}}</i></td>
                </tr>
        {{/messages}}
        </tbody>
    </table>
    </p>
</div>
</body>
</html>