<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div width="100px" style="border: 1px solid darkgreen; width: 57%; margin: 4% auto 0 auto; padding: 5px;min-height: 80%">
    Hello,<span style="color: greenyellow">{{#name}} {{name}} {{/name}} </span>

    <div>
        <form action="/addShop" method="post" style="background-color: lightpink">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <p>Описание: <input type="text" name="description"></p>
            <p>Оглавление: <input type="text" name="title"></p>
            <p>Цена: <input type="number" name="price"></p>
            <p><input type="submit"></p>
        </form>
    </div>

    <div style="padding-top: 5px;">
        {{#product}}
            <table style="border: 2px solid goldenrod; min-width: 95%">
                <tr style="margin: 0; padding: 0;">
                    <td width="25%"><b>{{title}}</b></td>
                    <td width="25%"><span>{{description}}</span></td>
                    <td width="25%"><i>{{price}}</i></td>
                    <td width="25%"><i>{{authorName}}</i></td>
                </tr>

                <tr>
                    <td>
                        <form method="get" action="/deleteProduct">
                            <input type="hidden" name="attribute" value="{{id}}">
                            <input type="submit" value="Удалить" style="color: darkred">
                        </form>
                    </td>
                </tr>
            </table>
        {{/product}}



    </div>
</div>
</body>
</html>